@CHARSET "UTF-8";

body {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

fieldset {
    text-align: left;
    border: 0;
}

input:invalid {
    outline: 2px solid red;
}

input:focus:out-of-range:invalid {
    color: red;
}